<div class="content">
  <div class="pdtDetails">
    <div class="divMargin col-65">
      <div class=" divMargin flex">
        <div class="divMargin col-30 grid1 imgs">
          <img src="" alt="">
        </div>
        <div class=" divMargin col-30 imgs">
          <img src="" alt="">
        </div>
        <div class="divMargin col-30 imgs">
          <img src="" alt="">
        </div>
      </div>
      <div class=" divMargin flex">
        <div style="height: 850px;" class=" divMargin imgs">
          <img src="" alt="">
        </div>
      </div>
      <div class="divMargin flex">
        <div class="divMargin col-50 imgs">
          <img src="" alt="">
        </div>
        <div class=" divMargin col-50 imgs">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="divMargin col-35">
      <div class="divMargin">
        <h1>NEW</h1>
      </div>
      <div class="divMargin pdt-Basic flex">
        <div class="divMargin col-70">
          <h1>PRODUCT NAME</h1>
          <p>catoragy</p>
          <p>Size</p>
        </div>
        <div class="divMargin pdtcol-30">
          <h1>$ 75.00</h1>
        </div>
      </div>
      <div class=" divMargin SC">
        <h2>Size</h2>
      </div>
      <div class="divMargin BTN">
        <button><img alt="logo">ADD TO CART</button>
      </div>
      <div class="divMargin BTN">
        <button> <img alt="logo"> BUY NOW</button>

      </div>
      <hr>
      <div class="divMargin">
        <div class="divMargin">
          <h2>DESCRIPTION</h2>
        </div>
        <br>
        <div class="divMargin des">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, architecto! Dolor, minus
            sapiente. Accusantium mollitia explicabo aliquam earum inventore a! Saepe ex vitae
            veniam ipsam iusto dolorum ab, vel dignissimos?</p>
          <br>
          <ul class="lstyle">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="divMargin">
        <div class="divMargin">
          <h2>DELIVERY & RETURNS</h2>
        </div>
        <br>
        <div class="divMargin des">
          <ul class="lstyle">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
<router-outlet></router-outlet>
