<div class="width-100 backgdBlack center div-height div-margin">
    <img src="" alt="">
    <button class="btncolor"><strong>SHOP NOW</strong></button>
</div>
<div class="backgdBlack center div-height div-margin">
    <label style="color: blanchedalmond;">product </label>
</div>
<div class="width-100 backgdBlack center div-height div-margin">
    <div class="col-50">
        <img src="" alt="">
    </div>
    <div class="col-50">
        <img src="" alt="">
    </div>
</div>
<div class="width-100 backgdBlack alignself div-padding div-margin">
    <label class="lil-text txtWH">Want emails you'll actually read, including the latest deets and exclusive deals?</label>
    <button class="btncolor"><strong>SIGN UP</strong></button>
</div>
<div class="padding50">
    <div class="div-border">
        <h1><strong>MORE THAN YOUR BEST WORKOUT CLOTHING</strong></h1>
        <br>
        <p>The Gymshark community is devoted to unlocking potential through conditioning and the things we do today to
             prepare for tomorrow. When it comes to performing at your max, there should be no obstacles – least of all your workout clothes.
              So everything about the gym clothes and accessories we design for you has your progress and the best results in mind. We want you 
              to have the most comfortable gym hoodies, the most supportive seamless leggings and the most innovatively designed workout shirts 
              that are made to move when it matters most.</p>
        <br>
        <p>Game-changing workout clothing. It’s not just in the designs, it’s in the people who wear them.</p>
    </div>
</div>
