<div class="mainHead">
  <div class=pdt-margin>
    <h1>MENS</h1>
    <br>
    <h2><strong>COLLECTIONS</strong></h2>
    <br>
    <a class=""> Rest day the Crest way</a>
  </div>
</div>
<div class="">
  <div class="flex">
    <div>
      <h1><strong>FLITERS:</strong></h1>
    </div>
    <div class="fliter-list"><a><strong>SIZE</strong></a></div>
    <div class="fliter-list"><a><strong>COLOR</strong></a></div>
    <div class="fliter-list"><a><strong>FIT</strong></a></div>
    <div class="fliter-list"><a><strong>PRICE</strong></a></div>
    <div class="fliter-list"><a><strong>SORT BY</strong></a></div>
  </div>
</div>
<div>
  <div class="content flex">
    <div class="pdtcard">
      <div>
        <div class="pdtImg">
          <img src="" alt="img" width="" height="22">
        </div>
        <div class="flex">
          <div class="pdt-info col-50">
            <h1><a>New</a></h1>
            <p>Joggers</p>
            <p>Black</p>
          </div>
          <div class="pdt-info price col-50">
            <h1>$ 75.00</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
    <div class="pdtcard">
      <div class="pdtImg">
        <img src="" alt="img" width="" height="22">
      </div>
      <div class="flex">
        <div class="pdt-info col-50">
          <h1><a>New</a></h1>
          <p>Joggers</p>
          <p>Black</p>
        </div>
        <div class="pdt-info price col-50">
          <h1>$ 75.00</h1>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
