<div class="mainHead">
  <div class=pdt-margin>
    <h1>MENS</h1>
    <br>
    <h2><strong>COLLECTIONS</strong></h2>
    <br>
    <a class=""> Rest day the Crest way</a>
  </div>
</div>
<div class="fliter">
  <div class="flex">
    <div>
      <h3><strong>FLITERS:</strong></h3>
    </div>
    <div class="fliter-list"><a><strong>SIZE</strong></a></div>
    <div class="fliter-list"><a><strong>COLOR</strong></a></div>
    <div class="fliter-list"><a><strong>FIT</strong></a></div>
    <div class="fliter-list"><a><strong>PRICE</strong></a></div>
    <div class="fliter-list"><a><strong>SORT BY</strong></a></div>
  </div>
</div>
<div class="content">
  <div class="card" routerLink="/productdetails">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%" >
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1 routerLink="/productdetails">NEW</h1>
          <p>Skipping Rope</p>
          <p routerLink="/productdetails" >Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cards">
      <div class="cardImg">
        <img src="" alt="" height="350px" width="100%">
      </div>
      <div class="pdt-Info flex">
        <div class="bit-margin info col-50">
          <h1>NEW</h1>
          <p>Skipping Rope</p>
          <p>Black</p>
        </div>
        <div class="bit-margin price col-50">
          <h3>$ 75.00</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
