<header>
    <div class="announce">
        <ul class="flex lstyle fotRight backgdGrey ">
            <li routerLink="/login"><a>My Account</a></li>
            <li><a>Blog</a></li>
            <li><a>Newsletter</a></li>
            <li><a>Help</a></li>
            <li><a>Rest of World</a></li>
        </ul>
    </div>
    <div class="mainHeader flex">
        <div class="imgdiv">
            <img src="" alt="sd" routerLink="/">
        </div>
        <nav class="navbar navlinks lstyle flex">
            <div class="dropmenu flex">
                <ul class="navlinks lstyle flex">
                    <li><a><strong>WOMENS</strong></a>
                        <div class="mega-menu flex">
                            <div class="col-90">
                                <div class="flex">
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>PRODUCT</strong></h1>
                                            <li><a routerLink="/products">All Products</a></li>
                                            <li>Bottoms & Leggings</li>
                                            <li>Crop Tops</li>
                                            <li>Hoodies & Jackets</li>
                                            <li>Shorts</li>
                                            <li>Underwear</li>
                                            <li>Sports Bras</li>
                                            <li>Tank Tops</li>
                                            <li>T Shirts & Tops</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>ACCESSORIES</strong></h1>
                                            <li><a routerLink="/">All Accessories</a></li>
                                            <li>Equipment</li>
                                            <li>Socks</li>
                                            <li>Bottles</li>
                                            <li>Bags</li>
                                            <li>Headwear</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>COLLECTIONS</strong></h1>
                                            <li><a routerLink="/">Essentials</a></li>
                                            <li>Adapt</li>
                                            <li>Basic Essentials</li>
                                            <li>Flex</li>
                                            <li>Seamless</li>
                                            <li>GS Power</li>
                                            <li>Apex</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-20">
                                <div class="footer-div-margin alignright">
                                    <ul class="lstyle">
                                        <li> <img src="" alt="" height="120px" width="400px"
                                                style="background-color: aqua;"></li>
                                        <li><img src="" alt="" height="150px" width="400px"
                                                style="background-color: aqua;"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a><strong>MENS</strong></a>
                        <div class="mega-menu flex">
                            <div class="col-90">
                                <div class="flex">
                                    <div class="footer-div-margin between">
                                        <ul class="footer-list">
                                            <h1><strong>PRODUCT</strong></h1>
                                            <li><a routerLink="/products">All Products</a></li>
                                            <li>Base Layers</li>
                                            <li>Bottoms & Joggers</li>
                                            <li>Hoodies & Jackets</li>
                                            <li>Shorts</li>
                                            <li>Stringers</li>
                                            <li>Tanks</li>
                                            <li>Tracksuits</li>
                                            <li>T-Shirts & Tops</li>
                                            <li>Underwear</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>ACCESSORIES</strong></h1>
                                            <li><a routerLink="/">All Accessories</a></li>
                                            <li>Equipment</li>
                                            <li>Socks</li>
                                            <li>Bottles</li>
                                            <li>Bags</li>
                                            <li>Headwear</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>COLLECTIONS</strong></h1>
                                            <li><a routerLink="/">Essentials</a></li>
                                            <li>Adapt</li>
                                            <li>Basic Essentials</li>
                                            <li>Flex</li>
                                            <li>Seamless</li>
                                            <li>GS Power</li>
                                            <li>Apex</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-20">
                                <div class="footer-div-margin alignright">
                                    <ul class="lstyle">
                                        <li> <img src="" alt="" height="150px" width="400px"
                                            style="background-color: aqua;"></li>
                                    <li><img src="" alt="" height="150px" width="400px"
                                            style="background-color: aqua;"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a><strong>SALE DAY</strong></a>
                        <div class="mega-menu flex">
                            <div class="col-90">
                                <div class="flex">
                                    <div class="footer-div-margin between">
                                        <ul class="footer-list">
                                            <h1><strong>PRODUCT</strong></h1>
                                            <li><a routerLink="/products">All Products</a></li>
                                            <li>Bottoms & Leggings</li>
                                            <li>Crop Tops</li>
                                            <li>Hoodies & Jackets</li>
                                            <li>Shorts</li>
                                            <li>Underwear</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>ACCESSORIES</strong></h1>
                                            <li><a routerLink="/">All Accessories</a></li>
                                            <li>Equipment</li>
                                            <li>Socks</li>
                                            <li>Bottles</li>
                                            <li>Bags</li>
                                            <li>Headwear</li>
                                        </ul>
                                    </div>
                                    <div class="footer-div-margin">
                                        <ul class="footer-list">
                                            <h1><strong>COLLECTIONS</strong></h1>
                                            <li><a routerLink="/">Essentials</a></li>
                                            <li>Adapt</li>
                                            <li>Basic Essentials</li>
                                            <li>Flex</li>
                                            <li>Seamless</li>
                                            <li>GS Power</li>
                                            <li>Apex</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-20">
                                <div class="footer-div-margin alignright">
                                    <ul class="lstyle">
                                        <li> <img src="" alt="" height="150px" width="400px"
                                            style="background-color: aqua;"></li>
                                    <li><img src="" alt="" height="150px" width="400px"
                                            style="background-color: aqua;"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="navlinks lstyle flex">
            <li><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></li>
            <li routerLink="/login"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" routerLink="/login"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg></li>
        </ul>
    </div>
</header>
<hr>



<router-outlet></router-outlet>
<footer>
    <hr>
    <div class="footer">
        <div class="flex">
            <div class="col-50 flex">
                <div class="footer-div-margin">
                    <ul class="footer-list">
                        <h1><strong>HELP</strong></h1>
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li>Delivery Information</li>
                        <li>Returns Policy</li>
                        <li>Make A Return</li>
                        <li>Orders</li>
                        <li>Submit a Fake</li>
                    </ul>
                </div>
                <div class="footer-div-margin">
                    <ul class="footer-list">
                        <h1><strong>MY ACCOUNT</strong></h1>
                        <li><a routerLink="/register">Register</a></li>
                        <li><a routerLink="/login">Login</a></li>
                    </ul>
                </div>
                <div class="footer-div-margin">
                    <ul class="footer-list">
                        <h1><strong>PAGES</strong></h1>
                        <li>ARMORED MIND Central</li>
                        <li><a routerLink="/aboutus">About Us</a></li>
                        <li><a routerLink="/contactus">Contact Us</a></li>
                        <li>Student Beans</li>
                        <li>Transparency Report</li>
                        <li>Accessibility Statement</li>
                    </ul>
                </div>
            </div>
            <div class="col-50 footer-div-margin">
                <div class="extramar">
                    <h1><strong>MORE ABOUT ARMORED MIND</strong></h1>
                    <ul class=" footer-list flex between ">
                        <li> <img src="" alt="" height="140px" width="230px" style="background-color: aqua;"></li>
                        <li><img src="" alt="" height="140px" width="230px" style="background-color: aqua;"></li>
                        <li> <img src="" alt="" height="140px" width="230px" style="background-color: aqua;"></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="flex footer-div-margin">
            <div class="col-50">
                <ul class=" footer-list flex">
                    <li>a </li>
                    <li>s</li>
                    <li>d</li>
                    <li>q</li>
                    <li>e</li>
                    <li>t</li>
                    <li>h</li>
                </ul>
            </div>
            <div class="col-50">
                <ul class=" footer-list flex float-right">
                    <li>a </li>
                    <li>s</li>
                    <li>d</li>
                    <li>q</li>
                    <li>e</li>
                    <li>t</li>
                    <li>h</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-cp">
        <div class="flex">
            <div class="col-50">
                <a>© 2021 | ARMORED MIND Limited | All Rights Reserved | Be a visionary</a>
            </div>
            <div class="col-50">
                <ul class="footer-list flex float-right lastline">
                    <li>Terms & Conditions</li>
                    <li>Terms of Use</li>
                    <li>Privacy Notice</li>
                    <li>Cookie Policy</li>
                    <li>Modern Slavery</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
