<div class="wholegrid">
  <div class="row flex col-height-abus1">
    <div class="col-50 padding20">
      <p><strong>Fit4Elite</strong> is a fitness Accessories & Equipment brand, Distribute and online retailer based in the India,
        supported by Hundreds of highly engaged Dealers, Fan India & Customers from 100 major cities.</p>
      <p>Created by fitness enthusiast <strong>KUNAL JAIN</strong>. Fit4Elite has grown from a single brand to a Multi Brand Store</p>
      <p>We exist to Distribute the tools that help people unlock their full, 
        incredible potential and put their ideas into action.</p>
      <p>We exist to unite the conditioning community.</p>
      <br>
      <p>Fit4Elite is led by:</p>
      <br>
      <p><strong>KUNAL JAIN</strong> - Founder</p>
    </div>
    <div class="col-50">
      <img class="img-cover" style="width:100%;height:100%" src="https://cdn.shopify.com/s/files/1/0431/8750/3270/files/D5kbwl0X4AAnsoe.jpg?v=1613692327">
    </div>
  </div>
  
  <div class="row flex col-height-abus1">
    <div class="col-50">
      <img class="img-cover" style="width:100%;height:100%" src="https://cdn.shopify.com/s/files/1/0431/8750/3270/files/D5kbwl0X4AAnsoe.jpg?v=1613692327">
    </div>
    <div class="col-50 displaynone" style="padding-top: 100px;">
      <div class="txt" style="padding:20px">
      <h2>OUR CORE VALUES</h2>
      <p>Our community of athletes, artists and visionaries stretch all the way across the Country. 
        We are a family of like-minded individuals working to bring our respective visions to life.</p>
      <p>We belive in fitness because we see future in fitness.</p>
      </div>
    </div>
  </div>
      <div class="row flex col-height-abus1" >
        <div class="col-50" style="padding-top:40px;">
      <div class="row-one padding20">
      <h2>GET IN TOUCH</h2>
      <p>FOR FEEDBACK & SALE ENQUIRIES PLEASE EMAIL US ON: sale@fit4elite.in</p>
      <p>FOR GENERAL BUSINESS ENQUIRIES & QUERIES PLEASE EMAIL US ON: kunal@fit4elite.in</p>
      <p>FOR ALL CUSTOMER SERVICE RELATED ENQUIRIES PLEASE CLICK HERE: info@fit4elite.in</p>
      </div>
      <div class="row-two padding20" style="background-color:#808080;">
        <h2 style="color:white;">FIND US</h2>
        <p style="color:white; cursor:pointer;"><a href="https://www.google.com/maps/place/Fit4Elite/@18.9877523,72.8275929,18.5z/data=!4m9!1m2!2m1!1sfit4elite!3m5!1s0x3be7cf903b18145f:0x254fd5a05b32024!8m2!3d18.9882171!4d72.827936!15sCglmaXQ0ZWxpdGWSARxmaXRuZXNzX2VxdWlwbWVudF93aG9sZXNhbGVy">Click Here</a></p>
      </div>
    </div>
    <div class="col-50" style="background-color:black;">
      <div class="followtxt">
      <h2 style="color:white; text-align:center;">FOLLOW US ON</h2>
      <br>
      <ul class="padding-li" style="color:white; text-align:center; list-style:none; display:flex; justify-content:center;">
        <li><a href="https://www.facebook.com/Fit4Elite/"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC4tk8SVhetKXp0H8r0rOeNQ"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://in.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="https://www.instagram.com/fit4elite.india/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://wa.me/917021788273"><i class="fa fa-whatsapp"></i></a></li>
      </ul>
      </div>
    </div>
  </div>
  </div>

